/*CLASES GENERALES*/
body{
    letter-spacing: 1px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-style: italic;
}
header {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

a {
    a:hover {
        background-color: #971818;
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
    border: #333 solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #e35353;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

/*CLASES ESPECIFICAS*/
.botonlogin {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.botonlogin:hover {
    background-color: #e35353;
    color: white;
}

.logo-login img {
    height: 150px;
    width: auto;
    max-width: 200px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.login-btn {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.logo-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-alerta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.columnas-pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.seccion-pie {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex: 1;
}

.seccion-pie p {
    margin: 2px 0;
}

.seccion-pie a {
    text-decoration: none;
    color: #333;
}

.iconos-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.iconos-sociales img {
    display: inline-block;
    margin: 0;
    width: 24px;
    height: 24px;
}

.flex-puntos {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

/*MEDIA QUERIES*/

@media (max-width: 1200px) {
    .flex-puntos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 968px) {
    .flex-puntos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-puntos {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
}