header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.columnas-pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.seccion-pie {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex: 1;
}

.seccion-pie p {
    margin: 2px 0;
}

.seccion-pie a {
    text-decoration: none;
    color: #333;
}

.iconos-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.iconos-sociales img {
    width: 24px;
    height: 24px;
}